bystroTeX/bystrotex
bystroTeX/*.css
bystroTeX/*.js
truques/planet-docs/
truques/*.css
truques/*.js
examples/bystroTeX_manual/slides-manual/
examples/bystroTeX_manual/copy-to-server.sh
examples/lookdown/
examples/misc/show-xml/
examples/letters/prof*/
examples/bystroConf.xml
schemas.xml
**/doc/
**/compiled/
**/*.html
**/formulas.sqlite
*~
