

/* ----------------------------------------------- */
/* The ones below modify the default scribble.css: */

.main {
  font-family: "Arial, Helvetica, sans-serif";
  font-size: 18pt; 
}

.maincolumn {
  font-size: 20pt;
  width: 35em;
/*  margin-right: -40em; */
  margin-left: 5pt;
}

.SubFlow {
  font-family: "DejaVu Sans";
  font-size: 16pt;
}

/* ---------------------------------------- */
/* Table of contents, left margin */

.tocview { display: none; }

.tocset { display: none; }
/* .tocset { */
/*   font-size: 18pt; */
/*   position: relative; */
/*   float: left; */
/*   width: 12em; */
/*   margin-right: 2em; */
/* } */
/* .tocset td { */
/*   vertical-align: text-top; */
/* } */

/* .tocview { */
/*   text-align: left; */
/*   background-color: #f0f0e0; */
/* } */



/* ---------------------------------------- */
/* Navigation */

.navsettop, .navsetbottom {
  background-color: #f0f0e0;

}

.navsettop {
  margin-top:    0em;
  margin-bottom: 0.2em;
  border-bottom: 0px solid #e0e0c0;
  height: 0.2em;
}

.navsetbottom {
  margin-top: 0.2em;
  border-top: 0px solid #e0e0c0;
  height: 0.2em;
}

.navleft {
  margin-left: 1ex;
  position: relative;
  float: left;
  white-space: nowrap;
}
.navright {
  font-size: 15pt;
  margin-right: 1ex;
  position: relative;
  float: right;
  white-space: nowrap;
  padding: 0 0 0.7em 0;
  margin-top: -0.8em;
  /* Border is useful for debugging: */
  /* border: 1px solid red; */
  height: 0.8em;
}


/* For standard table: */
table, th, td
{
  font-family: "DejaVu Sans";
}


.bystro-bib-key-cell {
    text-align: right;
    vertical-align: top;
    padding: 5px;
}

.bystro-bib-value-cell {
    text-align: left;
    padding: 5px;
}
