.amkpagebreak {
  page-break-after:always;
}

.sourcelink {
  font-size:x-small;
  background-color:#FFFDD0;
}

.scrbllink {
  font-size:x-small;
}

/* This one below is for homepage link table: */
.mytitlecell {
vertical-align: top; 
text-align: right; 
border-right: 1px solid black; 
}

.linktablecell {
text-align:left;
font-size:x-small;
}

/* For standard table: */
.amktablecell {
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    padding: 2px 5px 2px 5px
}

.amktabletopleftcell {
    border: 1px solid green;
    padding: 2px 5px 2px 5px
}

.amktabletopcell {
    border-top: 1px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    padding: 2px 5px 2px 5px
}

.amktableleftcell {
    border-left:  1px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    padding: 2px 5px 2px 5px
}

.amktablecell-hor {
    border-top:   1px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    padding: 2px 5px 2px 5px
}

.amktabletopleftcell-hor {
    border: 1px solid green;
    padding: 2px 5px 2px 5px
}

.amktabletopcell-hor {
    border-top: 1px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    padding: 2px 5px 2px 5px
}

.amktableleftcell-hor {
    border-top:   1px solid green;
    border-left:  1px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    padding: 2px 5px 2px 5px
}

.amktablecell-vert {
    border-left: 2px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    padding: 2px 5px 2px 5px
}

.amktabletopleftcell-vert {
    border: 1px solid green;
    padding: 2px 5px 2px 5px
}

.amktabletopcell-vert {
    border-left: 2px solid green;
    border-top: 1px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    padding: 2px 5px 2px 5px
}

.amktableleftcell-vert {
    border-left:  1px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    padding: 2px 5px 2px 5px
}

/* For autolist table: */

.bystro-autolist-cell {
    border-right: 1px solid orange;
    border-bottom: 1px solid orange;
    padding: 2px 5px 2px 5px
}

.bystro-autolist-topleft-cell {
    border: 1px solid orange;
    padding: 2px 5px 2px 5px
}

.bystro-autolist-top-cell {
    border-top: 1px solid orange;
    border-right: 1px solid orange;
    border-bottom: 1px solid orange;
    padding: 2px 5px 2px 5px
}

.bystro-autolist-left-cell {
    border-left:  1px solid orange;
    border-right: 1px solid orange;
    border-bottom: 1px solid orange;
    padding: 2px 5px 2px 5px
}

.bystro-autolist-cell-hor {
    border-top:   1px solid orange;
    border-right: 1px solid orange;
    border-bottom: 1px solid orange;
    padding: 2px 5px 2px 5px
}

.bystro-autolist-topleft-cell-hor {
    border: 1px solid orange;
    padding: 2px 5px 2px 5px
}

.bystro-autolist-top-cell-hor {
    border-top: 1px solid orange;
    border-right: 1px solid orange;
    border-bottom: 1px solid orange;
    padding: 2px 5px 2px 5px
}

.bystro-autolist-left-cell-hor {
    border-top:   1px solid orange;
    border-left:  1px solid orange;
    border-right: 1px solid orange;
    border-bottom: 1px solid orange;
    padding: 2px 5px 2px 5px
}

.bystro-autolist-cell-vert {
    border-left: 2px solid orange;
    border-right: 1px solid orange;
    border-bottom: 1px solid orange;
    padding: 2px 5px 2px 5px
}

.bystro-autolist-topleft-cell-vert {
    border: 1px solid orange;
    padding: 2px 5px 2px 5px
}

.bystro-autolist-top-cell-vert {
    border-left: 2px solid orange;
    border-top: 1px solid orange;
    border-right: 1px solid orange;
    border-bottom: 1px solid orange;
    padding: 2px 5px 2px 5px
}

.bystro-autolist-left-cell-vert {
    border-left:  1px solid orange;
    border-right: 1px solid orange;
    border-bottom: 1px solid orange;
    padding: 2px 5px 2px 5px
}

.bystro-autolist-nothing-found {
    background-color: lightgray;

}

.greenlink {
    background-color: green;
}

.amkyell {
    background-color: yellow;
}

.red {
    color: red;
}

.attn {
    color: red;
    font-weight: bold;
}

.comment {
    font-size:70%;
    border-left:2px solid blue;
    padding-left:10px;
}

.bystro-quotation {
    font-size:90%;
    border-left:2px solid green;
    padding-left:10px;
}

.redbox {
    border:2px solid red;
    padding:10px 10px 10px 10px;
}

.greenbox {
    border:2px solid green;
    padding:10px 10px 10px 10px;
}

.nobr {
    white-space: nowrap;
}

.short-intro {
    border:2px solid blue;
    background-color: #F0F0FF;
    padding:10px 10px 10px 10px;
}
.citation {
    border:1px solid green;
    background-color: #F0FFF0;
}

